.mobile-full-page-image {
    width: 100%;
    display: block;
    object-fit: contain;
}

.full-page-image {
    height: 100%;
    display: block;
    object-fit: contain;
}

.home-image-banner {
    height: 300px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    // border: 2px solid #A6686A;
    // border-radius: 30px;
    // box-sizing: border-box;
}

.mobile-home-image-banner {
    height: 300px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    // border: 2px solid #A6686A;
    // border-radius: 30px;
    // box-sizing: border-box;
}

.image-1 {
    // background-image: url('../../../assets/images/home-page/new-home-page-1.jpg');
    background-image: url("../../../assets/images/home-page/full-page-home-image.jpeg");
}

.image-2 {
    background-image: url("../../../assets/images/home-page/new-home-page-2.jpg");
}

.image-3 {
    background-image: url("../../../assets/images/home-page/new-home-page-3.jpg");
}

.image-4 {
    background-image: url("../../../assets/images/home-page/new-home-page-4.jpg");
}

.names-container {
    width: 50vw;
}

.mobile-names-container {
    width: 80vw;
}

.name-line {
    width: 100%;
    height: 4px;
    background-color: #a6686a;
    margin-bottom: 16px;
}
