<div class="mx-4">
<p class="text-size-45 mt-3 text-bold">Wedding Gift Registry</p>

<p class="text-size-30 mt-5 ">Your Presence at our wedding is the greatest gift of all. If you wish to honor us with a gift, we kindly invite you to contribute to our honeymoon fund, which will help us create unforgettable memories. A wedding post box will be provided at the guest table or should you prefer to contribute via electronic transfer please use your name and details below.</p>

<p class="text-size-30 mt-6 mb-0">Acc Name: Honeymoon Funds</p>
<p class="text-size-30 mb-0">Capitec Bank</p>
<p class="text-size-30 mb-0">Acc Number: 2447 678 424</p>
<p class="text-size-30">Savings</p>

</div>
